@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);



/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

/* Start of style sheet */

html{
    background-color: #333333;
    overflow-y: scroll;
    
}

body{
    font-family: 'Merriweather', serif;
}




/* nav bar styling */

.navbar{
    background-color: #333333;
    padding: 0;
    overflow: hidden;
}

#logo{
    padding: 0.3rem;
    height: 50px;
    width: 50px;
}


.navbar-nav hr{
    color: white;
}

#navDormant, #navCurrent{
    
    color: white;
    font-size: x-large;
    display: block;
    position: relative;
}


@media (min-width: 1200px){
    #navbarToggler a{
        font-size: x-large;
    }
    #logo{
        height: 70px;
        width: 70px;
    }
}


@media (max-width: 991px){
    
    #navbarToggler a:hover{
        color: none;
        border-radius: none;
        box-shadow: none;
        
    }

    #navbarToggler a:active{
        color: #b45748;
        background-color: #181818;
        border-radius: none;
        transition: 200ms;
    }
    
    .nav-link{
        text-align: center;
        border-bottom: 1px solid white;
    }

    .nav-link:nth-child(1){
        border-top: 1px solid white;
    }

}

@media (min-width: 992px){

    .nav-item {
        margin-right: 1.6rem;
    }

    #navbarToggler a:hover{
        border-radius: 10px;
        
    }

    #navbarToggler a:active{
        border-radius: 10px;
        
        
    }

    #navDormant::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background: #e26d5c;
        left: 0;
        bottom: 0;
        transform: scale(0,1);
        transform-origin: 0% 100%;
        transition: transform 0.3s ease;
    }
    
    #navDormant:hover::after {
        transform: scale(1,1);
    } 
    
    #navDormant:hover{
        color: #e26d5c;
        
    }
    
    
    #navbarToggler a:active{
        color: #b45748;
        
    }
    
    
    #navCurrent::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background: #e26d5c;
        left: 0;
        bottom: 0;
    }

    
}



/* home content style */

/* main content style */

#banner{
    background-image: url(/images/laskyline.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

.left-side-item{
    display: flex;
    
}

.right-side-items{
    display: flex;
    
}

#home-left{
    padding: 8%;
    text-align: left;
    
}

#home-left h1{
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    color: #fbfefb;
    text-shadow: 2px 2px 5px black;
    
}

.adjective{
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #fbfefb;
    text-shadow: 1.5px 1.5px 3px black;
}

#resumeButton{
    background-color: none;
    color: #fbfefb;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 2px solid #e26d5c;
    border-radius: 10px;
    margin-top: 1rem;

}

#resumeButton:hover{
    background-color: #e26d5c;
}



#home-left a:hover, #nextPageBtn:hover{

    box-shadow: 0 0.5em 0.5em -0.4em black;
}

#home-left a:focus, #portfoliobtn:focus{
    background-color: #c76051;
    border: none;
    outline: none;
}

#home-right{
    padding: 0;
    text-align: center;
}

#headshot{
    vertical-align: top;
    text-align: center;
    width: 90%;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    
    
}

.imgInfo{
    vertical-align: top;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
    

}

.proInfoList{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    
}

.proInfo{
    padding: 0.1rem 0.17rem;
    

}

.proInfo a.btn{
    font-size: 1.5rem;
}

#imgLocation, #imgGit, #imgLinkd{
    background-color: black;
    opacity: 0.7;
}

#imgLocation a{
    color: white;
}

#imgGit a, #imgLinkd a{
    text-decoration: none;
    color: white;
}


#imgGit:hover{
    background-color: #5a32a3;
}

#imgLinkd:hover{
    background-color: #0073a4;
}


@media (min-width: 992px){
    .proInfo a.btn{
        font-size: 1rem;
    }
}

@media (max-width: 991px){
    #resumeButton{
        background-color: #e26d5c;
    }
    #home-left{
        text-align: center;
    }
}

/* highlight section styling */

#backgroundInfo{
    background-color: rgb(255, 255, 255);
}

#highlightHeading{
    text-align: center;
}

#highlightHeading h1{
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 1.5rem;
}

#highlightHeading h1 {
    text-align:center;
    display: grid;
    grid-template-columns: 200px max-content 200px;
    grid-template-rows: 25px 0;
    grid-gap: 25px;
    justify-content:center;
}
    
#highlightHeading h1:after, #highlightHeading h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid black;
}



#highlights{
    justify-content: space-evenly;
    padding: 3% 2%;
}

#highlights .col-xl-3{
    padding: 1rem 2rem;
}


#highlights h3{
    padding: 2.5% 0;
    font-size: 1.7rem;
    font-weight: bold;

}

#highlights span{
    padding-right: 1rem;
}

#highlights .fa-calculator{
    display: inline;
    color: #e26d5c;
}

#highlights .fa-database{
    display: inline;
    color: #e26d5c;
}

#highlights .fa-heart{
    display: inline;
    color: #e26d5c;
}

.highlightText{
    font-size: 1.1rem;
    line-height: 1.6;
}

.highlightInfo{
    box-shadow: 2px 7px 16px 6px rgba(0,0,0,0.09);
    border-radius: 10px;
    padding-bottom: 1.5rem;

    
}

.highlightProjectLinks{
    display: block;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.highlightProjectLinks a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;

}

.highlightLinkPDF:hover{
    background-color: #ff0000;
    opacity: 1;
    transition: 300ms;
}

.highlightLinkGIT:hover{
    background-color: #5a32a3;
    opacity: 1;
    transition: 300ms;
}

#projectHighlights{
    background-color: rgb(247, 247, 247);
}

#highlights .col-xl-5{
    padding: 0.5rem 1rem;
}

@media (max-width: 1200px){
    #highlights .col-xl-3{
        margin-bottom: 2rem;
    }
    #highlights .col-xl-5{
        margin-bottom: 1.5rem;
    }
    
}


@media (min-width: 1200px){
    #firstHighlight{
        margin-bottom: 16.35rem;
    }
    #highlights .col-xl-3{
        height: 425px;
    }

}

@media (min-width: 1400px){
    #firstHighlight{
        margin-bottom: 14.8rem;
    }
}


/* about styling */


#bottombtnrow{
    text-align: center;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

#nextPageBtn{
    background-color: #e26d5c;
    font-size: 2rem;
    color: #fbfefb;
    width: 30rem;
    border: none;
    outline: none;
    margin: 2rem 0;
}



.aboutBanner{
   margin: 3rem 0; 
}

.aboutBanner h1{
    font-size: 3rem;
    font-weight: bold;
}

.aboutBanner h1:after{
    content: '';
	display: block;
	width: 7%;
	height: 4px;
	background-color: #e26d5c;
}

.aboutBanner h4{
    font-size: 1.5rem;
    line-height: 1.6;
}

.aboutSnapshot{
    margin-bottom: 2rem;
}

.aboutInfo{
    background-color: rgb(247, 247, 247);
    box-shadow: 2px 7px 16px 6px rgba(0,0,0,0.09);
    border-radius: 10px;
    margin-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.aboutEntry{
    margin: 1rem 0;
}

.aboutEntry h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.aboutEntry h2{
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.aboutEntry h4{
    font-size: 1.4rem;
    line-height: 1.6;
}

.aboutEntry p{
    line-height: 1.6;
}

.resumeButtonRow{
    justify-content: center;
}

#aboutResumeButton{
    background-color: #e26d5c;
    color: #fbfefb;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    margin-top: 1rem;
    width: 20rem;
}



/* Portfolio Styling */

.portfolioHeaders{
    text-align: center;
    font-size: 2.5rem;
    
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #dde2dd;
}

.projectHeaderText{
    font-size: x-large;
    color: black;
}



#bottomProjectSet{
    margin-bottom: 2rem;
}

.projectSummary{
    font-weight: bold;
    text-decoration: underline;
}

.card-body{
    font-size: 1.2rem;
    line-height: 1.6;
}




/* contact me styling */

.contactPageHeader{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 0 1rem;
    margin-top: 0.5rem;
    
}

.contactPageSubHeader{
    text-align: center;
    font-size: 1.5rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
}


/* #contactForm{
    margin-top: 2rem;
} */

#formContent{
    font-size: 1.5rem;
    line-height: 1.6;
}

#formContent button{
    background-color: #e26d5c;
    color: white;
    font-size: x-large;
    border-radius: 10px;
    padding: 0 1rem;
    margin-top: 1rem;
}

.inputSpace{
    margin: 0.5rem 0;
}

.contactRightBox{
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    display: flex;
    
}

.contactRightBox img{
    height: 140px;
    width: 140px;
}

.contactRightBox span{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.contactRightBox span a{
    color: black;
}

#mainContactContent{
    margin-bottom: 8rem;
    margin-top: 1rem;
}


#contactPageSocialList{
    list-style: none;
    font-size: xx-large;
}

#contactPageSocialList.social-icons{
    align-content: center;
    padding: 0;
    margin: 0.8rem 0;
}

#contactPageFB{
    padding: 10px 12px;
    background-color: #00aced;
    border-radius: 5px;
}

#contactPageIG{
    padding: 10px 12px;
    background-color: #C13584;
    border-radius: 5px;
}

#contactPageLinkd{
    padding: 10px 12px;
    background-color: #0073a4;
    border-radius: 5px;
}

#contactPageGit{
    padding: 10px 12px;
    background-color: #5a32a3;
    border-radius: 5px;
}


@media (max-width: 991px){
    #contactInfoRight{
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }
}
/* bottom nav and social bar styling */



#bottom-nav{
    background-color: #333333;
    color: white;
}

#socialcol{
    text-align: center;
    align-content: center;
    padding: 1rem 0;
    font-size: x-large;
}

.social-icons a{
    color: white;
}

.social-icons li{
    display: inline;
}


#bottomSocialList{
    list-style: none;
}

#bottomSocialList.social-icons{
    align-content: center;
    padding: 0;
    margin: 0.8rem 0;
}

#bottomNavfb{
    padding: 10px 12px;
    transition: 400ms;
}

#bottomNavfb:hover{
    background-color: #00aced;
}

#bottomNavfb:active, #contactPageFB:active{
    background-color: #00698f;
}

#bottomNavIg{
    padding: 10px 12px;
    transition: 400ms;
}

#bottomNavIg:hover{
    background-color: #C13584;
}

#bottomNavIg:active, #contactPageIG:active{
    background-color: #8b255f;
}

#bottomNavLinkd{
    padding: 10px 12px;
    transition: 400ms;
}

#bottomNavLinkd:hover{
    background-color: #0073a4;
}

#bottomNavLinkd:active, #contactPageLinkd:active{
    background-color: #004f70;
}

#bottomNavGit{
    padding: 10px 12px;
    transition: 400ms;
}

#bottomNavGit:hover{
    background-color: #5a32a3;
}


#bottomNavGit:active, #contactPageGit:active{
    background-color: #412475;
}

#bottomNavEmail{
    padding: 10px 12px;
    transition: 400ms;
}

#bottomNavEmail:hover{
    background-color: #B23121;
}

#bottomNavEmail:active{
    background-color: #7e2317;
}

/* bottom footer styling */

footer{
    background-color: #333333;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    

    
}